.jumbotron{
  margin-top: 50px;
}

.myprogress{
    margin: auto;
    padding: 25px;
    text-align: center;
    height: 80px;
    width: 50%;
}

th{
    font-size: medium;
}

.results{
    margin: 0 auto;
}

.table{
    width: auto;
    margin: auto;
}

.status{
    margin: 0 auto;
    padding: 25px;
    text-align: center;
    height: auto;
    width: 20%;
}

.listbox {
    margin: auto;
    width: 500px;
}

li {
    text-align: center;
}
